<h1>My User Profile</h1>

<div class="left side">
<%= image_tag "default_user.jpg", alt: "Coder4Cbus User Image", height: '100px' %>
<p><%= @user.username %></p>
<p><%= @user.full_name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>
</div>

<div class="right side">
<% @user.tweets.each do |tweet| %>
<div class="tweet">
  <p><%= tweet.message %></p>
    <p>Created:<%= time_ago_in_words(tweet.created_at) %> ago!</p>
<% end %>
</div>
<h3> /Users/eileenulry/Dropbox/twitter/app/views/users </h3>
